#react-container {
  font-family: sans-serif;
  margin-left: 50px;
}

#react-container > div {
  margin-bottom: 50px;
}

.movie-title {
  font-size: 150%;
}

.movie-metadata {
  font-size: 125%;
}

.movie-metadata span {
  margin-right: 10px;
}
