<!DOCTYPE html>
<html>
<head>
<style>
  a {
    display: block;
    margin: 5px;
    font-size: 125%;
  }


</style>
</head>

<body>

<h1>Art</h1>
<a href="pixel-color">pixel color</a>
<a href="destijl">destijl</a>

<h1>Movies/TV</h1>
<a href="tuesday">tuesday</a>
<a href="http://www.derrickcraven.com/movie-night">movie night</a>
<a href="http://www.derrickcraven.com/tvshowinfo">TV Showtimes App</a>

<h1>Other Stuff</h1>
<a href="http://www.derrickcraven.com/recipes/">Recipes</a>
<a href="http://www.derrickcraven.com/blog">Blog</a>
<a href="http://www.derrickcraven.com/portfolio">Portfolio</a>
<a href="http://www.derrickcraven.com/ambient-youtube/">Ambient YouTube</a>
<a href="http://www.derrickcraven.com/skills-program/">Skills Program</a>

</body>
</html>
